<div class="col-sm-12">
  <div class="block-flat">
    <div class="header">
      <h3>CMS V0.0.1</h3>
    </div>
    <div class="content overflow-hidden mb20">
      <a href="https://www.dropbox.com/s/507tqspy0pvd6f7/products-WB004G996.zip?dl=0" target="_blank">Documentación del template</a>
    </div>
  </div>
</div>
