<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <section class="section-white">
        <div class="container">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% images.each do |image|%>
                <% active = images.first == image ? "active" : "" %>
                <div class="item <%=active%>">
                  <%= image_tag image.picture, class: "img-responsive"%>
                  <div class="slider-footer">
                    <center><p><%= image.description %></p></center>
                  </div>
                </div>
              <% end %>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
