<div class="main-content">
  <div class="container">
    <div class="mag-inner">
      <div class="clearfix"></div>
    </div>
    <div class="col-md-12 mag-innert-left">
      <div class="banner-bottom-left-grids">
        <div class="single-left-grid">
          <h1><%=@decorated_article.headline%></h1>
          <br>
          <center><%= image_tag @decorated_article.images.last.picture, class: "img-responsive"%></center>
          <br>
          <h2><small><%=@decorated_article.lead%></small></h2>
          <p class="article"><%=@decorated_article.body%></p>
        </div>
      </div>
    </div>
  </div>
</div>
