<% if notice %>
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= notice %>
  </div>
<% end %>

<p>
  <strong>Email:</strong>
  <%= @editor.email %>
</p>

<%= link_to 'Editar', edit_admin_editor_path(@editor) %> |
<%= link_to 'Regresar', admin_editors_path %>
