   <div class="main-content">
     <div class="container">
      <div class="mag-inner">
        <div class="clearfix"></div>
      </div>
      <div class="col-md-12 mag-innert-left">
        <div class="banner-bottom-left-grids">
          <div class="single-left-grid">
            <center><%= image_tag 'single.jpg', class: "img-responsive"%></center>
            <br>
            <h1><%=@article.headline%></h1>
            <h4><%=@article.lead%></h4>
            <p class="article"><%=@article.body%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
