<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  <div class="banner-right">
    <% if @banner_right_first && @banner_right_first.image.picture.exists? %>
      <%= image_tag @banner_right_first.image.picture, class: "img-responsive"%>
    <% end %>
  </div>
  <div class="banner-right">
    <% if @banner_right_second && @banner_right_second.image.picture.exists? %>
      <%= image_tag @banner_right_second.image.picture, class: "img-responsive"%>
    <% end %>
  </div>
  <div class="banner-right">
    <% if @banner_right_third && @banner_right_third.image.picture.exists? %>
      <%= image_tag @banner_right_third.image.picture, class: "img-responsive"%>
    <% end %>
  </div>
</div>
