<div class="footer">
  <div class="row">
    <div class="copyright">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="social-media">
          <%= link_to 'https://www.facebook.com/',target: :_blank do %>
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          <% end %>
        </div>

        <div class="social-media">
          <%= link_to 'https://www.instagram.com/latucunoticias/',target: :_blank do %>
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          <% end %>
        </div>

        <div class="social-media">
          <%= link_to 'https://twitter.com/ComLatucu',target: :_blank do %>
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="contact-box">
          <div class="phone">
            <div class="">
              <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
  </div>
</div>
