  <div class="header" id="home">
   <div class="content white">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <div class="logo-header">
            <%= link_to image_tag('latucu.png'), root_path, class: "navbar-brand"%>
          </div>
        </div>
     </div>
    </nav>
  </div>
 </div>
