<% if notice %>
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= notice %>
  </div>
<% end %>

<p>
  <strong>Nombre:</strong><br>
  <%= @section.name %>
</p>

<%= link_to 'Editar', edit_admin_section_path(@section) %> |
<%= link_to 'Volver', admin_sections_path %>
