.btn-add-img {
  width: 150px;
}

.navbar.navbar-default {
  min-height: 65px;
}

.sidebar-logo {
  background-color: #dc4d4d;
}

.cl-navblock {
  .side-user {
    .info i {
      margin-right: 10px;
    }
  }
}

.logo-mini {
  width: 40%;
}

.img-admin-show {
  width: 50%;
}

@media (max-width: 575px) {
  .img-admin-show {
    width: 100%;
  }
  .logo-mini {
    width: 23%;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .logo-mini {
    width: 50%;
    padding-top: 20%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .logo-mini {
    width: 15%;
  }
}


.logo-cms {
  width: 100%;
}


