<div class="cl-sidebar">
  <div class="cl-toggle">
    <i class="fa fa-bars"></i>
  </div>
  <div class="cl-navblock">
    <div class="menu-space">
      <div class="content">
        <%= link_to root_path do %>
          <div class="sidebar-logo">
            <div class="logo">
            </div>
          </div>
        <% end %>
        <div class="side-user">
          <div class="info">
            <p>
              <i class="fa fa-user"></i>
              Basic CMS
            </p>
          </div>
        </div>
        <ul class="cl-vnavigation">
          <li>
            <a href="#">
              <i class="fa fa-folder"></i>
              <span>Modelo</span>
            </a>
            <ul class="sub-menu">
              <li class="active">
                <%= link_to "Lista", "#" %>
              </li>
              <li>
                <%= link_to "Nuevo", "#" %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
