.banner-content {
  widows: 100%;
  height: 200px;
  background-color: grey;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.phone {
  color: white;
}

.contact-box {
  float: right;
  padding-right: 4rem;
}

.contact-box-img {
  width: 40px;
}
.copyright {
  padding: 0px;
  height: 50px;
  padding-top: 5px;
}
.social-media {
  float: left;
  width: 40px;
  margin: 0px 10px 0px 10px;
}

@media (max-width: 575px) {
  .social-media {
    margin: 0px;
  }

  .copyright {
    height: 80px;
  }
}

.company-box {
  padding-top: 5px;
}


img {
  width: 100%;
}

h3.tittle {
  text-align: center;
}

p.article {
  font-size: 20px;
}

.card-body {
  text-align: left;
  height: 8rem;
}

.card {
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
                -moz-box-shadow: 0 10px 6px -6px #777;
                box-shadow: 0 10px 6px -6px #777;
}

@media (max-width: 575px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .card {
    width: 80%;
    margin: 10px;
  }
}


@media (min-width: 576px) and (max-width: 767px) {
    .card {
    width: 80%;
    margin: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card {
    width: 15rem;
    margin: 10px;
  }
}
