hr {
      border-top: 1px solid #ddd;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.image-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 5px;
  background: rgba(255,255,255,0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
  letter-spacing: 3px;
}

.image-box {
  position: relative;
  width: 100%;
}

button {
  background: rgba(76, 175, 80, 0.0);
  border: none;
}

.main-title-head {
  background-image: image_url('separator.png');
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.article-box {
  margin-left: 15px;
}

.section-box {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #333;
}

.navbar-toggle {
  background-color: #ffffff!important;
}


.card-img-top img{
  min-height: 135px;
  max-height: 135px;
  margin-bottom: 10px;
}

@media (max-width: 575px) {
  .card-img-top img{
    max-height: 100%;
    margin-bottom: 0px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .card-img-top img{
    max-height: 100%;
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .card-img-top img{
    max-height: 112px;
  }
}

.white-box {
  background-color: white;
  margin-bottom: 15px;
}

h3.tittle, h2.tittle {
  background: rgba(76, 175, 80, 0.0);
}
.slider-footer{
  margin-top: 10px;
  color: white;
}

.fade.in {
  background: rgba(0, 0, 0, 0.8);
}

.carousel {
  position: fixed;
}

.content.white {
  padding-bottom: 1.5rem;
  padding: 0.5rem 0 1.5rem 0;
}

.logo-header{
  width: 225px;
}

.top-banner {
  max-height: 150px;
}

.banner-content {
  background-color: grey;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-right {
  margin-right: 12%;
  margin-bottom: 20px;
}

.content-main {
  margin-left: 2%;
}

.phone {
  color: white;
}

.contact-box {
  float: right;
}

.contact-box-img {
  width: 40px;
}

.copyright {
  height: 50px;
  padding-top: 5px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 2%;
}

.social-media {
  float: left;
  width: 40px;
  margin: 0px 10px 0px 10px;
}

.fa-facebook{
  color: white;
}
.fa-instagram{
  color: white;
}
.fa-twitter{
  color: white;
}
.fa-whatsapp{
  color: white;
}

@media (max-width: 575px) {
  .social-media {
    margin: 0px;
  }

  .copyright {
    height: 90px;
  }

  .logo-header {
    width: 225px;
  }
}


@media (min-width: 576px) and (max-width: 767px) {
  .copyright {
    height: 50px;
  }
}

.company-box {
  padding-top: 5px;
}


img {
  width: 100%;
}

h3.tittle {
  text-align: center;
}

p.article {
  font-size: 20px;
}


.card-body {
  text-align: left;
  height: 10rem;
}

@media (max-width: 575px) {
  height: 8rem;
}


@media (min-width: 576px) and (max-width: 767px) {
  height: 8rem;
}

@media (min-width: 768px) and (max-width: 892px) {
  .card-body {
    height: 9rem;
  }
}

@media (min-width: 893px) and (max-width: 1200px) {
  .card-body {
    height: 10rem;
  }
}

.card {
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

@media (max-width: 575px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .card {
    width: 80%;
  }
}


@media (min-width: 576px) and (max-width: 767px) {
    .card {
    width: 80%;
  }

  .banner-right {
    margin-left: 10%;
  }
}
