.img-size {
  width: 100%;
  height: 100%;
}

.carousel {
  position: relative;
}

.carousel-inner {
  background-color: #7d07af;
  height: 400px;
}

.uno, .dos, .tres {
  color: #ffffff;
  padding: 15px;
  overflow: hidden;
}

.dos {
  font-size: 25px;
}

.tres {
  font-size: 15px;
}

#conteiner-carrousel {
  margin-bottom: 10px;
}

.line {
  color: #590f70;
  padding: 10px;
}

.link-color {
  color: #ffffff;
}
