.img-size {
  height: 100%;
}

.carousel {
  position: relative;
}

.carousel-inner {
  background-color: #8d35b2;
  height: 400px;
}

.uno, .dos {
  color: #ffffff;
  padding: 15px;
  overflow: hidden;
}

#conteiner-carrousel {
  margin-bottom: 10px;
}

.line {
  color: #590f70;
  padding: 10px;
}

.link-color {
  color: #ffffff;
}
