<div class="col-lg-12">
  <div class="white-box">
    <div class="main-title-head">
      <h3 class="tittle"><%= section_name %></h3>
    </div>
    <center>
      <div class="row">
        <div class="section-box">
          <% articles.each do |a|%>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="card">
                <%= link_to image_tag(a.first_image.url(:preview_image_article)), article_path(a), class: "card-img-top img"%>
                <div class="card-body">
                    <%= link_to a.headline, article_path(a), class: 'wd'  %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </center>
  </div>
</div>
