<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong><br>
  <%= @section.name %>
</p>

<%= link_to 'Editar', edit_editor_section_path(@section) %> |
<%= link_to 'Volver', editor_sections_path %>
